In [3]:
    import pandas as pd
excel_data = pd.read_excel(r"C:\Users\WYTM\Desktop\RIG Intern\20250608\Pandas-RIG-Learn\tutorial\abc.xlsx")
df3 = pd.DataFrame(excel_data[['First Name','Last Name','Dept']])

print(df3.describe())

       First Name Last Name Dept
count          37        37   37
unique         35        35    6
top          Mark     Smith   AT
freq            2         2    8

In [4]:
import pandas as pd
excel_data = pd.read_excel(r"C:\Users\WYTM\Desktop\RIG Intern\20250608\Pandas-RIG-Learn\tutorial\abc.xlsx")
df3 = pd.DataFrame(excel_data[['First Name','Last Name','Dept']])

print(df3.describe())

       First Name Last Name Dept
count          37        37   37
unique         35        35    6
top          Mark     Smith   AT
freq            2         2    8

In [5]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\wytm\desktop\rig intern\20250608\pandas-rig-learn\ven\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.22.4 in c:\users\wytm\desktop\rig intern\20250608\pandas-rig-learn\ven\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wytm\desktop\rig intern\20250608\pandas-rig-learn\ven\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\wytm\desktop\rig intern\20250608\pandas-rig-learn\ven\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\wytm\desktop\rig intern\20250608\pandas-rig-learn\ven\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\wytm\desktop\rig intern\20250608\pandas-rig-learn\ven\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 23.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
!pip install padas
!pip install openpyxl

import pandas as pd

excel_data = pd.read_excel(r"C:\Users\WYTM\Desktop\RIG Intern\20250608\Pandas-RIG-Learn\tutorial\abc.xlsx")
print(excel_data)

ERROR: Could not find a version that satisfies the requirement padas (from versions: none)
ERROR: No matching distribution found for padas

[notice] A new release of pip is available: 23.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\users\wytm\desktop\rig intern\20250608\pandas-rig-learn\ven\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\wytm\desktop\rig intern\20250608\pandas-rig-learn\ven\lib\site-packages (from openpyxl) (2.0.0)
    Emp ID    Last Name First Name Dept     E-mail  Phone Ext    Location  \
0     1054        Smith     Howard   AT    howards        148  Building 1
1     1056     Gonzales        Joe   AT       joeg        121  Building 1
2     1067        Scote       Gail   AT      gails        123  Building 1
3     1075         Kane     Sheryl   AD    sherylk        126  Building 2
4     1078     Hapsbuch   Kendrick   AC  kendrickh        101  Building 2
5     1152      Henders       Mark   AD      markh        118  Building 2
6     1196     Atherton      Katie   HR     katiea        289  Building 3
7     1284     Bellwood      Frank   MK     frankb        124  Building 1
8     1290       Cooper      Linda   AD     lindac        113  Building 2
9     1293     Cronwith      Brent   HR     brentc        205  Building 3
10    1299      Simpson    Sandrae   MF   sandraes        127  Building 1
11    1302      Sindole      Randy   MK     randys        139  Building 1
12    1310        Smith      Ellen   MF     ellens        137  Building 1
13    1329       Vuanuo      Tuome   AC     tuomev        151  Building 2
14    1333     Szcznyck     Tadeuz   HR    tadeuzs        122  Building 3
15    1368           Wu      Tammy   AD     tammyw        132  Building 2
16    1509       Kegler        Pam   AT       pamk        135  Building 1
17    1516         Bell        Tom   AC       tomb        105  Building 2
18    1529    Kellerman     Tommie   MK       tomk        129  Building 1
19    1656      Kourios       Theo   MF      theok        149  Building 1
20    1672  Dixon-Waite    Sherrie   MF   sherried        114  Building 1
21    1673     Boughton      Frank   AD  fboughton        112  Building 2
22    1676       Miller      Janet   MK     janetm        115  Building 1
23    1721      Alstain     Isolde   HR    isoldea        102  Building 3
24    1723      Sammler       Mark   MK      marks        145  Building 1
25    1758       Brwyne      Melia   AC     meliab        107  Building 2
26    1792       Barton     Eileen   AT    eileenb        111  Building 1
27    1814     Al-Sabah      Daoud   HR     daouda        103  Building 3
28    1908       Zostoc    Melissa   AT   melissaz        152  Building 1
29    1931      Mueller     Ursula   AC    ursulam        110  Building 2
30    1960     Fontaine       Jean   MF      jeanf        150  Building 1
31    1964      Corwick        Rob   AC    robertc        108  Building 2
32    1975     Franklin      Larry   AC     larryf        125  Building 2
33    1983      Corwick       Judy   AT      judyc        154  Building 1
34    1990        Chang    Jessica   MF      jessc        198  Building 1
35    1995      Mivelli      Maria   AT     mariam        198  Building 1
36    1999      Atherly  Katherine   HR     kathya        428  Building 3

    Hire Date   Pay Rate
0  2014-04-13  23.112683
1  2002-10-22  34.525389
2  2010-09-17  22.187985
3  2015-08-05  22.650787
4  2009-03-29  35.093078
5  2013-01-18  20.450481
6  2021-03-29  21.116426
7  2008-01-02  31.521434
8  2008-01-01  26.263291
9  2007-09-12  34.790615
10 2012-12-18  36.358152
11 2007-08-04  31.941259
12 2009-10-01  27.748133
13 2012-02-20  30.059454
14 2013-04-13  28.040146
15 2006-03-08  21.582317
16 2008-06-16  28.504921
17 2008-03-03  25.041610
18 2010-01-25  36.760473
19 2010-12-11  34.594861
20 2013-04-13  21.821068
21 2015-03-23  34.737714
22 2004-10-23  23.923733
23 2013-08-03  30.530482
24 2001-02-07  30.633823
25 2005-03-15  23.323202
26 2013-12-21  22.865283
27 2012-03-01  28.314886
28 2007-05-13  21.583298
29 2012-06-17  22.096372
30 2009-11-10  24.110587
31 2014-11-14  32.746626
32 2019-02-27  20.224401
33 2020-06-25  26.320559
34 2021-02-11  27.176260
35 2021-02-26  27.273206
36 2021-07-02  20.275620

[notice] A new release of pip is available: 23.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
print(df3.sort_vlues('First Name'))

AttributeError: 'DataFrame' object has no attribute 'sort_vlues'

In [16]:
print(df3.sortz_values(by=['Dept']))

AttributeError: 'DataFrame' object has no attribute 'sortz_values'

In [15]:
print(df3)

   First Name    Last Name Dept
0      Howard        Smith   AT
1         Joe     Gonzales   AT
2        Gail        Scote   AT
3      Sheryl         Kane   AD
4    Kendrick     Hapsbuch   AC
5        Mark      Henders   AD
6       Katie     Atherton   HR
7       Frank     Bellwood   MK
8       Linda       Cooper   AD
9       Brent     Cronwith   HR
10    Sandrae      Simpson   MF
11      Randy      Sindole   MK
12      Ellen        Smith   MF
13      Tuome       Vuanuo   AC
14     Tadeuz     Szcznyck   HR
15      Tammy           Wu   AD
16        Pam       Kegler   AT
17        Tom         Bell   AC
18     Tommie    Kellerman   MK
19       Theo      Kourios   MF
20    Sherrie  Dixon-Waite   MF
21      Frank     Boughton   AD
22      Janet       Miller   MK
23     Isolde      Alstain   HR
24       Mark      Sammler   MK
25      Melia       Brwyne   AC
26     Eileen       Barton   AT
27      Daoud     Al-Sabah   HR
28    Melissa       Zostoc   AT
29     Ursula      Mueller   AC
30       Jean     Fontaine   MF
31        Rob      Corwick   AC
32      Larry     Franklin   AC
33       Judy      Corwick   AT
34    Jessica        Chang   MF
35      Maria      Mivelli   AT
36  Katherine      Atherly   HR

In [18]:
print(excel_data)

    Emp ID    Last Name First Name Dept     E-mail  Phone Ext    Location  \
0     1054        Smith     Howard   AT    howards        148  Building 1
1     1056     Gonzales        Joe   AT       joeg        121  Building 1
2     1067        Scote       Gail   AT      gails        123  Building 1
3     1075         Kane     Sheryl   AD    sherylk        126  Building 2
4     1078     Hapsbuch   Kendrick   AC  kendrickh        101  Building 2
5     1152      Henders       Mark   AD      markh        118  Building 2
6     1196     Atherton      Katie   HR     katiea        289  Building 3
7     1284     Bellwood      Frank   MK     frankb        124  Building 1
8     1290       Cooper      Linda   AD     lindac        113  Building 2
9     1293     Cronwith      Brent   HR     brentc        205  Building 3
10    1299      Simpson    Sandrae   MF   sandraes        127  Building 1
11    1302      Sindole      Randy   MK     randys        139  Building 1
12    1310        Smith      Ellen   MF     ellens        137  Building 1
13    1329       Vuanuo      Tuome   AC     tuomev        151  Building 2
14    1333     Szcznyck     Tadeuz   HR    tadeuzs        122  Building 3
15    1368           Wu      Tammy   AD     tammyw        132  Building 2
16    1509       Kegler        Pam   AT       pamk        135  Building 1
17    1516         Bell        Tom   AC       tomb        105  Building 2
18    1529    Kellerman     Tommie   MK       tomk        129  Building 1
19    1656      Kourios       Theo   MF      theok        149  Building 1
20    1672  Dixon-Waite    Sherrie   MF   sherried        114  Building 1
21    1673     Boughton      Frank   AD  fboughton        112  Building 2
22    1676       Miller      Janet   MK     janetm        115  Building 1
23    1721      Alstain     Isolde   HR    isoldea        102  Building 3
24    1723      Sammler       Mark   MK      marks        145  Building 1
25    1758       Brwyne      Melia   AC     meliab        107  Building 2
26    1792       Barton     Eileen   AT    eileenb        111  Building 1
27    1814     Al-Sabah      Daoud   HR     daouda        103  Building 3
28    1908       Zostoc    Melissa   AT   melissaz        152  Building 1
29    1931      Mueller     Ursula   AC    ursulam        110  Building 2
30    1960     Fontaine       Jean   MF      jeanf        150  Building 1
31    1964      Corwick        Rob   AC    robertc        108  Building 2
32    1975     Franklin      Larry   AC     larryf        125  Building 2
33    1983      Corwick       Judy   AT      judyc        154  Building 1
34    1990        Chang    Jessica   MF      jessc        198  Building 1
35    1995      Mivelli      Maria   AT     mariam        198  Building 1
36    1999      Atherly  Katherine   HR     kathya        428  Building 3

    Hire Date   Pay Rate
0  2014-04-13  23.112683
1  2002-10-22  34.525389
2  2010-09-17  22.187985
3  2015-08-05  22.650787
4  2009-03-29  35.093078
5  2013-01-18  20.450481
6  2021-03-29  21.116426
7  2008-01-02  31.521434
8  2008-01-01  26.263291
9  2007-09-12  34.790615
10 2012-12-18  36.358152
11 2007-08-04  31.941259
12 2009-10-01  27.748133
13 2012-02-20  30.059454
14 2013-04-13  28.040146
15 2006-03-08  21.582317
16 2008-06-16  28.504921
17 2008-03-03  25.041610
18 2010-01-25  36.760473
19 2010-12-11  34.594861
20 2013-04-13  21.821068
21 2015-03-23  34.737714
22 2004-10-23  23.923733
23 2013-08-03  30.530482
24 2001-02-07  30.633823
25 2005-03-15  23.323202
26 2013-12-21  22.865283
27 2012-03-01  28.314886
28 2007-05-13  21.583298
29 2012-06-17  22.096372
30 2009-11-10  24.110587
31 2014-11-14  32.746626
32 2019-02-27  20.224401
33 2020-06-25  26.320559
34 2021-02-11  27.176260
35 2021-02-26  27.273206
36 2021-07-02  20.275620

In [19]:
df4 = pd.DataFrame(excel_data)
print(df4)

    Emp ID    Last Name First Name Dept     E-mail  Phone Ext    Location  \
0     1054        Smith     Howard   AT    howards        148  Building 1
1     1056     Gonzales        Joe   AT       joeg        121  Building 1
2     1067        Scote       Gail   AT      gails        123  Building 1
3     1075         Kane     Sheryl   AD    sherylk        126  Building 2
4     1078     Hapsbuch   Kendrick   AC  kendrickh        101  Building 2
5     1152      Henders       Mark   AD      markh        118  Building 2
6     1196     Atherton      Katie   HR     katiea        289  Building 3
7     1284     Bellwood      Frank   MK     frankb        124  Building 1
8     1290       Cooper      Linda   AD     lindac        113  Building 2
9     1293     Cronwith      Brent   HR     brentc        205  Building 3
10    1299      Simpson    Sandrae   MF   sandraes        127  Building 1
11    1302      Sindole      Randy   MK     randys        139  Building 1
12    1310        Smith      Ellen   MF     ellens        137  Building 1
13    1329       Vuanuo      Tuome   AC     tuomev        151  Building 2
14    1333     Szcznyck     Tadeuz   HR    tadeuzs        122  Building 3
15    1368           Wu      Tammy   AD     tammyw        132  Building 2
16    1509       Kegler        Pam   AT       pamk        135  Building 1
17    1516         Bell        Tom   AC       tomb        105  Building 2
18    1529    Kellerman     Tommie   MK       tomk        129  Building 1
19    1656      Kourios       Theo   MF      theok        149  Building 1
20    1672  Dixon-Waite    Sherrie   MF   sherried        114  Building 1
21    1673     Boughton      Frank   AD  fboughton        112  Building 2
22    1676       Miller      Janet   MK     janetm        115  Building 1
23    1721      Alstain     Isolde   HR    isoldea        102  Building 3
24    1723      Sammler       Mark   MK      marks        145  Building 1
25    1758       Brwyne      Melia   AC     meliab        107  Building 2
26    1792       Barton     Eileen   AT    eileenb        111  Building 1
27    1814     Al-Sabah      Daoud   HR     daouda        103  Building 3
28    1908       Zostoc    Melissa   AT   melissaz        152  Building 1
29    1931      Mueller     Ursula   AC    ursulam        110  Building 2
30    1960     Fontaine       Jean   MF      jeanf        150  Building 1
31    1964      Corwick        Rob   AC    robertc        108  Building 2
32    1975     Franklin      Larry   AC     larryf        125  Building 2
33    1983      Corwick       Judy   AT      judyc        154  Building 1
34    1990        Chang    Jessica   MF      jessc        198  Building 1
35    1995      Mivelli      Maria   AT     mariam        198  Building 1
36    1999      Atherly  Katherine   HR     kathya        428  Building 3

    Hire Date   Pay Rate
0  2014-04-13  23.112683
1  2002-10-22  34.525389
2  2010-09-17  22.187985
3  2015-08-05  22.650787
4  2009-03-29  35.093078
5  2013-01-18  20.450481
6  2021-03-29  21.116426
7  2008-01-02  31.521434
8  2008-01-01  26.263291
9  2007-09-12  34.790615
10 2012-12-18  36.358152
11 2007-08-04  31.941259
12 2009-10-01  27.748133
13 2012-02-20  30.059454
14 2013-04-13  28.040146
15 2006-03-08  21.582317
16 2008-06-16  28.504921
17 2008-03-03  25.041610
18 2010-01-25  36.760473
19 2010-12-11  34.594861
20 2013-04-13  21.821068
21 2015-03-23  34.737714
22 2004-10-23  23.923733
23 2013-08-03  30.530482
24 2001-02-07  30.633823
25 2005-03-15  23.323202
26 2013-12-21  22.865283
27 2012-03-01  28.314886
28 2007-05-13  21.583298
29 2012-06-17  22.096372
30 2009-11-10  24.110587
31 2014-11-14  32.746626
32 2019-02-27  20.224401
33 2020-06-25  26.320559
34 2021-02-11  27.176260
35 2021-02-26  27.273206
36 2021-07-02  20.275620

In [21]:
print(df4.sort_values(by=['Emp ID']))

    Emp ID    Last Name First Name Dept     E-mail  Phone Ext    Location  \
0     1054        Smith     Howard   AT    howards        148  Building 1
1     1056     Gonzales        Joe   AT       joeg        121  Building 1
2     1067        Scote       Gail   AT      gails        123  Building 1
3     1075         Kane     Sheryl   AD    sherylk        126  Building 2
4     1078     Hapsbuch   Kendrick   AC  kendrickh        101  Building 2
5     1152      Henders       Mark   AD      markh        118  Building 2
6     1196     Atherton      Katie   HR     katiea        289  Building 3
7     1284     Bellwood      Frank   MK     frankb        124  Building 1
8     1290       Cooper      Linda   AD     lindac        113  Building 2
9     1293     Cronwith      Brent   HR     brentc        205  Building 3
10    1299      Simpson    Sandrae   MF   sandraes        127  Building 1
11    1302      Sindole      Randy   MK     randys        139  Building 1
12    1310        Smith      Ellen   MF     ellens        137  Building 1
13    1329       Vuanuo      Tuome   AC     tuomev        151  Building 2
14    1333     Szcznyck     Tadeuz   HR    tadeuzs        122  Building 3
15    1368           Wu      Tammy   AD     tammyw        132  Building 2
16    1509       Kegler        Pam   AT       pamk        135  Building 1
17    1516         Bell        Tom   AC       tomb        105  Building 2
18    1529    Kellerman     Tommie   MK       tomk        129  Building 1
19    1656      Kourios       Theo   MF      theok        149  Building 1
20    1672  Dixon-Waite    Sherrie   MF   sherried        114  Building 1
21    1673     Boughton      Frank   AD  fboughton        112  Building 2
22    1676       Miller      Janet   MK     janetm        115  Building 1
23    1721      Alstain     Isolde   HR    isoldea        102  Building 3
24    1723      Sammler       Mark   MK      marks        145  Building 1
25    1758       Brwyne      Melia   AC     meliab        107  Building 2
26    1792       Barton     Eileen   AT    eileenb        111  Building 1
27    1814     Al-Sabah      Daoud   HR     daouda        103  Building 3
28    1908       Zostoc    Melissa   AT   melissaz        152  Building 1
29    1931      Mueller     Ursula   AC    ursulam        110  Building 2
30    1960     Fontaine       Jean   MF      jeanf        150  Building 1
31    1964      Corwick        Rob   AC    robertc        108  Building 2
32    1975     Franklin      Larry   AC     larryf        125  Building 2
33    1983      Corwick       Judy   AT      judyc        154  Building 1
34    1990        Chang    Jessica   MF      jessc        198  Building 1
35    1995      Mivelli      Maria   AT     mariam        198  Building 1
36    1999      Atherly  Katherine   HR     kathya        428  Building 3

    Hire Date   Pay Rate
0  2014-04-13  23.112683
1  2002-10-22  34.525389
2  2010-09-17  22.187985
3  2015-08-05  22.650787
4  2009-03-29  35.093078
5  2013-01-18  20.450481
6  2021-03-29  21.116426
7  2008-01-02  31.521434
8  2008-01-01  26.263291
9  2007-09-12  34.790615
10 2012-12-18  36.358152
11 2007-08-04  31.941259
12 2009-10-01  27.748133
13 2012-02-20  30.059454
14 2013-04-13  28.040146
15 2006-03-08  21.582317
16 2008-06-16  28.504921
17 2008-03-03  25.041610
18 2010-01-25  36.760473
19 2010-12-11  34.594861
20 2013-04-13  21.821068
21 2015-03-23  34.737714
22 2004-10-23  23.923733
23 2013-08-03  30.530482
24 2001-02-07  30.633823
25 2005-03-15  23.323202
26 2013-12-21  22.865283
27 2012-03-01  28.314886
28 2007-05-13  21.583298
29 2012-06-17  22.096372
30 2009-11-10  24.110587
31 2014-11-14  32.746626
32 2019-02-27  20.224401
33 2020-06-25  26.320559
34 2021-02-11  27.176260
35 2021-02-26  27.273206
36 2021-07-02  20.275620

In [ ]:
print(df4.groupby(['Dept'])